@inherits LayoutComponentBase

<div class="main-layout">
    <header>
        <div class="title">NightMovie</div>
    </header>
    <div class="content">
        @Body
    </div>
    <footer>
        <nav>
            <ul>
                <li><NavLink href="/addMovie" Match="NavLinkMatch.All">Ajouter un film</NavLink></li>
                <li><NavLink href="/sessions" Match="NavLinkMatch.All">Sessions</NavLink></li>
                <li><NavLink href="/filtres" Match="NavLinkMatch.All">Filtres</NavLink></li>
            </ul>
        </nav>
    </footer>
</div>
