@inherits LayoutComponentBase

<div class="main">
    <header class="d-flex justify-content-between align-items-center p-3 border-bottom">
        <h1 class="h3">NightMovie</h1>
    </header>

    <div class="page">
        <main class="main">
            <article class="content px-4">
                    @Body
            </article>
        </main>
    </div>
    <footer class="fixed-bottom bg-light border-top">
        <div class="d-flex justify-content-around py-3 card-footer">
            <div class="card flex-fill m-0" onclick="navigateTo('home')">
                <div class="card-body flex-fill text-center">
                    <svg width="24" height="24" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                        <path d="M8.354 1.146a.5.5 0 0 0-.708 0L1 7.793V14.5A1.5 1.5 0 0 0 2.5 16h11a1.5 1.5 0 0 0 1.5-1.5V7.793l-6.646-6.647zm5.146 12.854a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5V8.5l6-6 6 6v5.5z" />
                        <path d="M13 2.5a.5.5 0 0 1 1 0v6.5a.5.5 0 0 1-1 0V2.5z" />
                    </svg>
                    <span>Home</span>
                </div>
            </div>
            <div class="card flex-fill m-0" onclick="navigateTo('sessions')">
                <div class="card-body flex-fill text-center">
                    <svg width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M3 12.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z" />
                    </svg>
                    <span>Sessions</span>
                </div>
            </div>
            <div class="card flex-fill m-0" onclick="navigateTo('add-movie')">
                <div class="card-body flex-fill text-center">
                    <svg width="24" height="24" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 1a7 7 0 1 1 0 14A7 7 0 0 1 8 1zM7.5 4.5a.5.5 0 0 0-1 0v2H4.5a.5.5 0 0 0 0 1h2v2a.5.5 0 0 0 1 0v-2h2a.5.5 0 0 0 0-1h-2v-2z" />
                    </svg>
                    <span>Ajouter film</span>
                </div>
            </div>
        </div>
    </footer>
</div>