@page "/"
@inject AuthService auth
@inject NavigationManager navigationManager

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code{


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (await auth.IsTokenExpired()!)
        {
            navigationManager.NavigateTo("/Login");
        }
    }
}